html {
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: #faf9f6;
    --text-color: #333;
    --light-text-color: #666;
    --second-color: #7b4397;
}

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--second-color);
}

::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.loading-screen {
    background-color: var(--primary-bg-color);
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    top: 0px;
}

/* From Uiverse.io by Nawsome */ 
.banter-loader {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #7b4397;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(0px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 0px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 26px);
  }

  81.8181818182% {
    transform: translate(0px, 26px);
  }

  90.9090909091% {
    transform: translate(0px, 26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(-26px, 0);
  }

  54.5454545455% {
    transform: translate(-26px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, 0px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(0, 0);
  }

  27.2727272727% {
    transform: translate(0, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 0);
  }

  54.5454545455% {
    transform: translate(26px, 0);
  }

  63.6363636364% {
    transform: translate(26px, 0);
  }

  72.7272727273% {
    transform: translate(26px, 0);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(0px, 0);
  }

  72.7272727273% {
    transform: translate(0px, 26px);
  }

  81.8181818182% {
    transform: translate(-26px, 26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(26px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-52px, 0);
  }

  90.9090909091% {
    transform: translate(-26px, 0);
  }

  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px min(64px, 10vw);
    width: 100%;
    box-sizing: border-box;
}


.social-icons a {
    margin-right: 8px;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-color);
}

.social-icons a:last-child {
    margin-right: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 24px 8px;
    margin-left: min(42px, 5vw);
    transition: all 0.3s ease;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease;
}


header nav ul li:hover {
    background-color: var(--second-color);
}

header nav ul li:hover a {
    color: #f8f0fa;
}

.moon-icon {
    position: relative;
    padding: 24px 0px;
    margin-left: 42px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.moon-icon:hover {
    color: var(--second-color);
}

.menu-button button {
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.menu-button {
    display: none;
}

main {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    height: calc(100dvh - 69.6px);
    padding: 64px min(64px, 10vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

main .right-section {
  animation: swipe-right 2s ease 1;
}

main .left-section {
  animation: swipe-left 2s ease 1;
}

main > section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .right-section nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .right-section nav ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #666;
    text-decoration: none;
}

main .right-section nav ul li {
  width: fit-content;
  position: relative;
}

main .right-section nav ul li::after {
  content: "";
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 1px;
  transition: width 0.3s ease-in-out;
}

main .right-section nav ul li:hover::after {
  width: 110%;
}

main .right-section nav ul a:hover > svg {
    transform: rotate(90deg);
}

main .right-section nav ul a svg {
    width: auto;
    height: 16px;
    transform: rotate(45deg);
    transition: 0.3s all ease-in-out;
}

main .right-section .name-tag > h1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 0.9;
    text-transform: uppercase;
    font-size: 5rem;
}


main .right-section .name-tag {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .right-section .name-tag > h1 > span {
    display: flex;
    gap: 8px;
    align-items: center;
}

main .right-section .name-tag > h1 i {
    transform: rotate(45deg);
    font-size: 2.5rem;
    color: var(--second-color);
    animation: star-roll 2s infinite ease alternate;
}

main .right-section .name-tag > span {
    text-align: left;
    color: #666;
    font-style: italic;
}

main .right-section .cta-mobile {
  display: none;
}

main .left-section .hero-section-slogan {
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: right;
    max-width: 450px;
    font-size: 3.5rem;
}

main .left-section .hero-section-slogan > span {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

main .left-section .hero-section-slogan > span i {
    transform: rotate(45deg);
    font-size: 2.5rem;
    color: var(--second-color);
    animation: star-roll 2s infinite ease alternate;
}

main .left-section .cta {
  align-self: flex-end;
  position: relative;
}

main .right-section .cta-mobile {
  position: relative;
}

main .left-section .cta::after,
main .right-section .cta-mobile::after {
  content: "";
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 1px;
  transition: width 0.3s ease-in-out;
}

main .left-section .cta:hover::after {
  width: 110%;
}

main .left-section .cta a,
main .right-section .cta-mobile a {
    font-size: 1rem;
    text-decoration: none;
    color: #666;
    display: flex;
    gap: 8px;
    align-items: center;
}

main .left-section .cta a > svg,
main .right-section .cta-mobile a > svg {
    width: auto;
    height: 16px;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out all;
}

main .left-section .cta a:hover > svg {
  transform: rotate(90deg);
}

main .right-section .cta-mobile a > svg {
  animation: scroll 2s ease 2 alternate-reverse 2s;
}

@keyframes scroll {
  0% {
    transform: rotate(45deg);
  } 25% {
    transform: rotate(90deg);
  } 50% {
    transform: rotate(90deg) translateX(-5px);
  } 75% {
    transform: rotate(90deg) translateX(5px);
  } 100% {
    transform: rotate(45deg) translateX(0px);
  }
}

@keyframes swipe-left {
  from {
    transform: translateX(100%);
  } to {
    transform: translateX(0%);
  }
}

@keyframes swipe-right {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0%);
  }
}

@keyframes star-roll {
    form {
        transform: rotate(45deg);
    } to {
        transform: rotate(225deg);
    }
}

@media (max-width: 992px) {
    main .left-section .hero-section-slogan {
      font-size: 3rem;
    }

    main .left-section .hero-section-slogan > span i {
      font-size: 2rem;
    }

    main .right-section .name-tag > h1 {
      font-size: 4.5rem;
    }

    main .right-section .name-tag > h1 i {
      font-size: 2rem;
    }
}

@media (max-width: 768px) {
    header .social-icons {
        display: none;
    } 

    header nav {
        display: none;
    }

    .moon-icon {
        margin-left: 0px;
    }

    .menu-button {
        display: block;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    main {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    main .right-section {
      justify-content: flex-end;
      gap: 56px;
    }

    main .right-section nav {
      display: none;
    }

    main .right-section .cta-mobile {
      display: block;
    }

    main .left-section .hero-section-slogan {
      font-size: 2.5rem;
    }

    main .left-section .hero-section-slogan > span i {
      font-size: 1.5rem;
    }

    main .right-section .name-tag > h1 {
      font-size: 3rem;
    }

    main .right-section .name-tag > h1 i {
      font-size: 1.5rem;
    }

    main .left-section .cta {
      display: none;
    }
}

/* -------------------------------------------------------------------------------------------------- */

.about-section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    padding: 32px min(64px, 10vw);
}

.about-me-title {
    color: #333;
    font-weight: 500;
    border: 1px solid #7b4397;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.about-me-title i {
    color: #7b4397;
    transform: rotate(45deg);
}

.about-section-container h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    max-width: min(840px, 80vw);
    color: #333; /* Darker text for heading */
}

.about-section-container p {
    line-height: 1.2;
    font-size: 1rem;
    color: var(--light-text-color);
    max-width: min(840px, 80vw);
    margin-bottom: 24px;
    margin-top: 0px;
}

.about-section-container .know-more {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.about-section-container .know-more:hover {
    color: #6a34d8;
}

.about-section-container .know-more svg {
    margin-left: 8px;
    margin-right: 0;
    height: 24px;
    width: auto;
}

@media (max-width: 992px) {
    .about-section-container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .about-section-container h2 {
        font-size: 1.5rem;
    }

    .about-section-container p {
        font-size: 0.85rem;
    }
}

/* --------------------------------------------------------------------------------------------------------------- */

.services-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px min(64px, 10vw);
}
  
.services-section .services-title {
    width: fit-content;
    color: #333;
    font-weight: 500;
    border: 1px solid #7b4397;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px auto 0px auto;
}

.services-section .services-title i {
    color: #7b4397;
    transform: rotate(45deg);
}

.services-header {
    max-width: min(840px, 80vw);
}

.services-header h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: #333; /* Darker text for heading */
}
  
.services-header p {
    line-height: 1.2;
    font-size: 1rem;
    color: var(--light-text-color);
    margin-bottom: 24px;
    margin-top: 0px;
}
  
.services-grid {
    margin-top: 32px;
    max-width: min(900px, 80vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 48px;
}
  
.service-card {
    border-radius: 16px;
    border: 1px solid #7b4397;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    transition: 0.3s all ease;
}

.service-card:hover {
    background-color: #7b4397;
    color: white;
}

.service-card:hover .card-header {
    border: 1px solid white;
    color: white;
}

.service-card:hover .card-header i {
    color: white;
    transform: rotate(180deg);
}

.service-card:hover p {
    color: white;
}
  
.service-card .card-header {
    color: #333;
    border: 1px solid #7b4397;
    padding: 8px 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.service-card .card-header i {
    font-size: 0.85rem;
    color: #7b4397;
    transform: rotate(45deg);
    transition: 0.3s ease all;
}
  
.service-card p {
    line-height: 1.3;
    font-size: 0.85rem;
    color: #333;
}
  
.service-card .card-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; /* Allows tags to wrap on smaller screens */
    margin-top: 16px; /* Pushes tags to the bottom of the card */
}
  
.service-card .tag {
    background-color: #ddd;
    color: #777;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .services-section .services-header h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .services-section .services-header h2 {
        font-size: 1.5rem;
    }

    .services-section .services-header p {
        font-size: 0.85rem;
    }

    .services-section .services-grid {
        gap: 24px;
    }

    .service-card .card-header {
        font-size: 0.85rem;
    }

    .service-card .card-header i {
        font-size: 0.75rem;
    }

    .service-card p {
        font-size: 0.8rem;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

.work-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px min(64px, 10vw);
}
  
.work-section .work-title {
    width: fit-content;
    color: #333;
    font-weight: 500;
    border: 1px solid #7b4397;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px auto 0px auto;
}

.work-section .work-title i {
    color: #7b4397;
    transform: rotate(45deg);
}

.work-header {
    max-width: min(840px, 80vw);
}

.work-header h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: #333; /* Darker text for heading */
}
  
.work-header p {
    line-height: 1.2;
    font-size: 1rem;
    color: var(--light-text-color);
    margin-bottom: 24px;
    margin-top: 0px;
}
  
.work-grid {
    margin-top: 32px;
    max-width: min(900px, 80vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 24px;
}
  
.work-card {
    background-color: #666;
    border-radius: 16px;
    padding: 16px;
    min-height: 300px;
}
  
@media (max-width: 992px) {
    .work-section .services-header h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .work-section .work-header h2 {
        font-size: 1.5rem;
    }

    .work-section .work-header p {
        font-size: 0.85rem;
    }

    .work-section .work-grid {
        gap: 24px;
    }

}

@media (max-width: 480px) {
    .work-section .work-grid {
        width: 100%;
    }

    .work-card {
        min-height: 250px;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

.testimonials-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px min(64px, 10vw);
}
  
.testimonials-section .testimonials-title {
    width: fit-content;
    color: #333;
    font-weight: 500;
    border: 1px solid #7b4397;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px auto 0px auto;
}

.testimonials-section .testimonials-title i {
    color: #7b4397;
    transform: rotate(45deg);
}

.testimonials-header {
    max-width: min(840px, 80vw);
}

.testimonials-header h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: #333; /* Darker text for heading */
}
  
.testimonials-header p {
    line-height: 1.2;
    font-size: 1rem;
    color: var(--light-text-color);
    margin-bottom: 24px;
    margin-top: 0px;
}

.testimonials-section .clients-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-section .clients-pictures img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-bg-color);
    background-color: #666;
    margin-left: -16px;
}
  
.testimonials-grid {
    margin-top: 32px;
    max-width: min(900px, 80vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 48px;
}
  
.testimonial-card {
    border-radius: 16px;
    border: 1px solid #7b4397;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
  
.testimonial-card > i {
    font-size: 0.85rem;
    color: #7b4397;
    transform: rotate(45deg);
}

.testimonial-card .client-info {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial-card .client-info img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.testimonial-card .client-info > div {
    display: flex;
    flex-direction: column;
}

.testimonial-card .client-info span {
    font-size: 0.9rem;
    font-weight: 500;
}

.testimonial-card .client-info small {
    font-size: 0.75rem;
    color: #666;
}

.testimonial-card > p {
    line-height: 1.3;
    font-size: 0.85rem;
    color: #666;
}

.testimonial-card .stars {
    color: rgb(186, 186, 100);
    font-size: 0.85rem;
}
  
@media (max-width: 992px) {
    .testimonials-section .testimonials-header h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .testimonials-section .testimonials-header h2 {
        font-size: 1.5rem;
    }

    .testimonials-section .testimonials-header p {
        font-size: 0.85rem;
    }

    .testimonials-section .testimonials-grid {
        gap: 24px;
    }

    .testimonial-card .card-header {
        font-size: 0.85rem;
    }

    .testimonial-card .card-header i {
        font-size: 0.75rem;
    }

    .testimonial-card p {
        font-size: 0.8rem;
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: #7b4397;
    padding: 16px min(64px, 10vw);
}

footer .credit {
    text-align: center;
    color: #f8f0fa;
    font-weight: 500;
}

footer .credit a {
    text-decoration: none;
    color: #f8f0fa;
}